@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Page List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Page" asp-action="Upsert" class="btn btn-warning">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Page
            </a>
        </div>
    </div>
    <br /><br />

    <table id="tblData" class="table table-secondary table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>ChapterId</th>
                <th>PageNumber</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ChapterId</th>
                <th>PageNumber</th>
            </tr>
        </tfoot>
    </table>
</div>

@section Scripts{
<script src="~/js/page.js"></script>
}