@model HotManga

<div class="flex-container" style="background-color:rgba(var(--bs-dark-rgb)">
    <h4>Conducting a test on flex-container to see if making the screen smaller does anything!</h4>
    <h4>Conducting a test on flex-container to see if making the screen smaller does anything!!</h4>
    <h4>Conducting a test on flex-container to see if making the screen smaller does anything!!!</h4>
</div>