@model MangaWorks.Models.ViewModels.ChapterVM

<partial name="_Notification" />

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Chapter.Id" hidden />

    <div class="row">
        <div class="col-10">
            @*class border of 3 and margin top of 4*@
            <div class="border p-3 mt-4 row">

                @*class row and padding bottom of 2*@
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.Chapter.Id!=0?"Update": "Create") Chapter</h2>
                    <hr />
                </div>

                <div class="row" style="padding-right:0">
                    <div class="col-8 ">

                        <div class="mb-3 col-2">
                            <label asp-for="Chapter.ChapterNumber"></label>
                            <input asp-for="Chapter.ChapterNumber" class="form-control" />
                            <span asp-validation-for="Chapter.ChapterNumber" class="text-danger"></span>
                        </div>

                        <div class="mb-3 col-12">
                            <label asp-for="Chapter.MangaId"></label>
                            <select asp-for="Chapter.MangaId" asp-items="@Model.MangaList" class="form-select">
                                <option disabled selected>--Select Manga--</option>
                            </select>
                            <span asp-validation-for="Chapter.MangaId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    @if (Model.Chapter.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update Manga</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                    }
                    <a asp-controller="Chapter" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>
            </div>
        </div>

    </div>



</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
<script>
    tinymce.init({
      selector: 'textarea',
      height:250,
      plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
</script>
<script>
    function ValidateInput(){
        if(document.getElementById("uploadBox").value==""){
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Please upload an Image!',
            });
            return false;
        }
    }
</script>
@if (TempData["SuccessMessage"] != null)
 {
<div class="alert alert-success alert-dismissable">
    <strong>@TempData["SuccessMessage"]</strong>
</div>
 }
}