@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <figure>
  <blockquote class="blockquote">
    <p class="mb-0">The work pays.</p>
  
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">Eder Canada</cite>
  </figcaption>
</figure>
</div>
