@model IEnumerable<MangaWorks.Models.Manga>

<div class="row pb-3">
    @foreach (var manga in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-2" style="border:1px solid #008cba; border-radius: 5px;">
                    <div class="card">
                        <img src="@manga.ImageUrl" class="card-img-top rounded" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>