@model IEnumerable<MangaWorks.Models.Manga>

<div class="row pb-3">
    @foreach (var manga in Model)
    {
        <div class="col-lg-3 col-md-6 pt-3" style="height:180px;width:138px">
@*            <div class="row p-2">
                <div class="col-12 p-2" style="border:1px solid #008cba; border-radius: 5px;">*@
                    <div class="card" style="height:100%; border-style:single">
                        <img src="@manga.ImageUrl" class="card-img-top" style="object-fit: cover; height: inherit" />
                    </div>
                </div>
@*            </div>
        </div>*@
    }
</div>