@model PageManga

@{

}

<table class="table table-primary table-bordered" style="width:100%">
    <thead>
        <tr>
            <th style="padding-top:10px; padding-bottom:0px; background-color:rgba(var(--bs-dark-rgb)">
                <div class="flex-container"@* style="width:20%"*@>
                    <div>
                        <a asp-action="Index" class="text-primary">
                            <h4 style="color:white; font-size:small">Read Manga Online</h4>
                        </a>
                    </div>
                    <div>
                        <h4 style="color:white; font-size:small">>></h4>
                    </div>
                    <div>
                        <a asp-action="Index" class="text-primary" asp-route-id="@Model.MangaId">
                            <h4 style="color:white; font-size:small">@Model.MangaTitle</h4>
                        </a>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.PageList)
        {
            <tr>
                <td width="10%" height="10%" style="padding-top:inherit;padding-bottom:0;text-align:center">
                    <img src="@obj.ImageUrl"
                             style="border-radius:5px; border:1px solid #bbb9b9; object-fit:cover; height:10%" />
                </td>
            </tr>
        }
    </tbody>
</table>