@model IEnumerable<Page>
@{
    ViewData["Title"] = "Page";
}

@{
    var pageObj = Model.FirstOrDefault();

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-12" style="border:1px solid">
                <h2 class="text-primary">Read Manga Online >></h2>
            </div>
        </div>
    </div>
    @*<br /><br />*@
}

<input asp-for="@pageObj.ChapterId" hidden />

<table class="table table-primary table-bordered" style="width:100%">
    <thead>
        <tr>
            <th style="font-size:large; background-color:rgba(var(--bs-dark-rgb)">
                Read Manga Online
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="10%" height="10%" style="padding-top:inherit;padding-bottom:0;text-align:center">
                    <img src="@obj.ImageUrl"
                             style="border-radius:5px; border:1px solid #bbb9b9; object-fit:cover; height:10%" />
                </td>
            </tr>
        }
    </tbody>
</table>